.hero-cases {
   position: relative;
   text-align: center;
   margin: 5rem 0 2rem;
   padding: 0 1rem;
   overflow: hidden;
}

.faqs-section {
   margin-bottom: 2.625rem !important;
}


.hero-cases-h1 {
   max-width: 23rem;
   margin: auto;
   font-size: 2em;
   line-height: 2.4rem;
   padding-top: 0.3rem;
   color: var(--gs-ink);
   text-wrap: ballance;
}
.hero-cases-h1 > span {
   color: var(--gs-purple);
}
.hero-cases-p {
   font-size: 1em;
   color: var(--gs-ink);
   margin-top: 1rem;
   margin: 1rem auto 0;
   text-wrap: ballance;
   max-width: 25rem;
}
.cases-reset-filters {
   margin: 2rem auto;
   color: var(--gs-purple);
   cursor: pointer;
}

.accordions-container {
   margin-top: 3rem;
}

.about-button-contact {
   display: flex;
   width: fit-content;
   margin: 3rem auto;
}

@media (min-width: 57rem) {
   .case-selector-flex {
      padding-inline: 0;
   }
   .faqs-section {
      margin-bottom: 5.25rem !important;
   }
}

@media (min-width: 70.25rem) {
   .hero-cases {
      margin: 7rem 2rem 2rem;
   }
   .hero-cases-h1 {
      max-width: 38rem;
      margin: 0 auto;
      font-size: 3.4em;
      line-height: 1.15em;
   }
.cases-reset-filters {
      margin: 2rem auto;
   }
}
@media (min-width: 90rem) {
   .hero-cases {
      margin: 7rem 2rem 3rem;
      padding: 0 4rem;
   }
   .hero-cases-p {
      margin-top: 1.5rem;
      font-size: 1.1em;
      max-width: 35rem;
   }
}
