.short-underline {
  display: inline-block;       
  position: relative;
}

.short-underline::after {
  content: "";
  position: absolute;
  left: 15%;                   
  right: 15%;                  
  bottom: 0;                   
  height: 1.5px;
  background: #7874f4;
}