.contact-content {
   overflow: hidden;
   min-height: 100vh;
}
.contact-img {
   text-align: right;
   margin: 0 1.3rem 5rem 0;
}
.Bgcont {
   object-fit: cover;
   margin: 0;
   width: 9.375rem;
   height: 9.375rem;
   position: relative;
   top: 5.5rem;
   z-index: -1;
}

@media (min-width: 37.5rem) {
   .Bgcont {
      width: 11.375rem;
      height: 11.375rem;
   }
}
@media (min-width: 60rem) {
   .contact-img {
      text-align: right;
      margin: 0 1.3rem 0;
   }
   .Bgcont {
      width: 14.375rem;
      height: 14.375rem;
      margin-bottom: -8rem;
   }
   .contact-content {
      min-height: initial;
   }
}
@media (min-width: 78.125rem) {
   .Bgcont {
      width: 18.375rem;
      height: 18.375rem;
   }
}
@media (min-width: 100rem) {
}

@media (min-width: 120rem) {
   .contact-img {
      text-align: right;
      margin: 0 1.3rem 0;
   }

   .contact-content {
      margin: 0;
   }
}

@media (min-width: 120.75rem) {
   .contact-content {
      margin: 0 auto;
      min-height: fit-content;
   }
}
