.div-about-hero {
   height: calc(100vh - 6rem);
   margin-top: 8rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   overflow: hidden;
   position: relative;
}

.div-button-about-svg {
   position: relative;
   top: -5rem;
   text-align: center;
}

.div-button-about-svg svg {
   cursor: pointer;

   width: 1.375rem;
   height: 0.6875rem;
}

.about-bg {
   margin: 0 auto;
   height: 140%;
   width: 140%;
   position: absolute;
   top: 0;
   left: -4rem;
   z-index: -1;
   background: url("../../assets/aboutBg.svg") no-repeat;
   background-size: contain;
   background-position: 50% 0;
}

.about-bg:before {
   content: "";
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   background: linear-gradient(0deg, var(--gs-cream) 0%, #ffffff00 100%);
}
.about-belive-max {
   background-color: var(--gs-lavender);
   padding: 2rem 0 2.5rem;
}
.div-svg-about {
   border-bottom: 1px solid #27272193;
   padding: 2rem 0 0.5rem;
   margin-bottom: 0.3rem;
}

.div-svg-about img {
   width: 3.3125rem;
}

.svg-about-circ {
   margin-left: -0.3rem;
}
.about-section-need {
   margin: 1rem 0 0;
   position: relative;
   /* overflow-x: hidden; */
}
.about-hero-h1 {
   margin: 0 auto;
   max-width: 22rem;
   font-size: 1.5rem;
   text-align: center;
   color: var(--gs-ink);
   line-height: 1.875rem;
   padding: 2rem 0 0;
}
.about-hero-h1 > span,
.about-hero-need-h2 > span {
   color: var(--gs-purple);
}

.about-span {
   color: var(--gs-purple);
   font-size: 1.25rem;
   margin: 0 0.2rem;
}
.about-hero-h2 {
   font-size: 2em;
   line-height: 2.375rem;
   color: var(--gs-ink);
   padding: 1rem 0;
}
.about-h3 {
   color: var(--gs-ink);
   font-size: 1.5rem;
}
.about-hero-p {
   margin-inline: auto;
   max-width: 39rem;
   text-align: center;
   font-size: 1rem;
   color: var(--gs-graphite);
   line-height: 1.375rem;
   padding: 1rem 1.3rem 0;
}
.about-believe-p {
   color: var(--gs-graphite);
   font-size: 1rem;
   margin: 1rem 0;
   /* max-width: 40rem; */
}
.about-hero-btn {
   font-size: 0.875rem;
   color: var(--gs-purple);
}
.div-button-about {
   text-align: center;
}

.about-hero-need-h2 {
   margin: 5.5rem 0 1rem;
   font-size: 2rem;
}
.about-need-p {
   color: var(--gs-ink);
   font-size: 1rem;
   margin: 1rem 0 3rem;
}

.about-map-footer {
   padding: 2.5rem 0 4rem;
}
.about-button-contact {
   font-size: 1rem;
   color: var(--gs-purple);
   margin-top: 1.5rem;
   display: inline-block;
}

@media (min-width: 40rem) {
   .div-button-about-svg {
      top: -7rem;
   }

   .about-bg {
      top: 1rem;
   }
}

@media (min-width: 56.25rem) {
   .div-button-about-svg {
      position: relative;
      top: -5rem;
      text-align: center;
   }
   .div-button-about-svg svg {
      width: 1.375rem;
      height: 0.6875rem;
   }

   .div-button-about {
      margin: auto;
      text-align: center;
   }

   .about-bg {
      margin: 0 auto;
      height: 140%;
      width: 100%;
      position: absolute;
      top: 5rem;
      left: 0rem;
      z-index: -1;
      background: url("../../assets/aboutBg.svg") no-repeat;
      background-size: contain;
      background-position: 50% 0;
   }
   .div-about-hero {
      height: calc(100vh - 9rem);
      margin-top: 9rem;
   }
   .about-hero-h1 {
      max-width: 35rem;
      font-size: 2.1875rem;
      padding-top: 8rem;
      line-height: 2.1875rem;
      text-wrap: balance;
      margin-bottom: 1.95rem;
   }
   .about-hero-p {
      font-size: 1.25em;
      line-height: 1.75rem;
      padding: 0;
   }
   .div-about-belive {
      display: flex;
      justify-content: space-between;
   }
   .about-belive-max {
      padding: 3rem 0 4rem;
   }
   .about-hero-h2 {
      padding: 1rem 0;
      font-size: 3.1rem;
   }
   .about-section-need {
      margin: 3rem 0 0;
   }
   .div-about-belive article {
      width: 30%;
   }
   .about-h3 {
      font-size: 2em;
   }
   .about-believe-p {
      font-size: 1.05rem;
   }
   .about-hero-need-h2 {
      font-size: 2.8em;
      max-width: 35rem;
   }
   .about-need-p {
      font-size: 1.25rem;
      max-width: 43rem;
   }
   .about-bg {
      top: 4rem;
      height: 90%;
   }
   .about-bg:before {
      all: unset;
   }
}
@media (min-width: 70rem) {
   .about-belive-max {
      padding: 3rem 0 4rem;
   }

   .div-svg-about img {
      width: 4.375rem;
   }

   .div-svg-about {
      padding-bottom: 1.5rem;
      margin-bottom: 0.4rem;
   }

   .about-need-p {
      max-width: 43rem;
   }
}

@media (min-width: 81.25rem) {
   .about-button-contact {
      font-size: 1.25rem;
   }
}
@media (min-width: 90rem) {
   .div-about-belive {
      gap: 4rem;
   }
   .about-belive-max {
      padding: 3rem 0 4rem;
   }
   .about-hero-h2 {
      padding: 2rem 0;
      font-size: 3.1rem;
   }
   .about-section-need {
      margin: 1rem 0 0;
   }
   .div-about-belive article {
      width: 28rem;
   }
   .about-h3 {
      font-size: 2.5em;
   }
   .about-believe-p {
      font-size: 1.15em;
   }
   .about-hero-btn,
   .about-button-contact {
      font-size: 1.25rem;
   }
   .about-hero-need-h2 {
      font-size: 3.44rem;
      line-height: 3.75rem;
      max-width: 40rem;
   }
   .about-need-p {
      max-width: 60rem;
      text-wrap: balance;
      margin-top: 2rem;
   }
}
@media (min-width: 102.5625rem) {
   .about-belive-max {
      padding: 3rem 0 4rem;
   }
   .about-section-need {
      margin: 1rem 0 0;
   }
}

@media (min-width: 120rem) {
   .about-hero-h2 {
      padding: 3rem 0;
      font-size: 3.5rem;
   }
   .div-about-belive article {
      width: 32rem;
   }
   .about-h3 {
      font-size: 2.6em;
   }

   .about-section-need {
      padding: 2rem 0rem;
   }
}
@media (min-width: 121rem) {
   .div-about-belive,
   .about-hero-h2,
   .about-section-need {
      padding: inherit 0;
      max-width: 115rem;
      margin: 0 auto;
   }
   .about-section-need {
      padding: 2rem 0;
      margin: 1rem auto 0;

      overflow: hidden;
   }
}

@media screen and (max-height: 34.375rem) {
   .div-button-about-svg {
      display: none;
   }

   .div-about-hero {
      height: fit-content;
   }
}
