.navbar-desktop {
    display: none;
}

.menu-box--desktop {
    display: flex;
    gap: 2.2rem;
    font-size: 0.9625rem;
    color: #3c3c3b;
}

.menu-box--desktop ul.menu-items {
    display: flex;
    gap: 10px;
}

@media (min-width: 65rem) {
    .navbar-desktop {
        display: block;
    }
}

@media (min-width: 90rem) {
    .menu-box--desktop {
        gap: 4.5rem;
    }
}

.menu-item.has-dropdown > a {
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    background-color: var(--color-purple-light-a);
    border-radius: 0 0 16px 16px;
    z-index: 10;
    min-width: 193px;
}


.dropdown li {
    padding: 16px;
}

.dropdown li:last-child {
    border-radius: 0 0 16px 16px;
}

.dropdown li a {
    color: #3c3c3b;
    text-decoration: none;
    font-size: 0.875rem;
}

.menu-item:hover .dropdown {
    display: flex;
}

@media (max-width: 65rem) {
    .dropdown {
        position: static;
        display: none;
    }
}
