.navbar-desktop {
    display: none;
}

.menu-box--desktop {
    display: flex;
    gap: 2.2rem;
    font-size: 0.9625rem;
    color: #3c3c3b;
}

.menu-box--desktop ul.menu-items {
    display: flex;
    gap: 10px;
}

@media (min-width: 65rem) {
    .navbar-desktop {
        display: block;
    }
}

@media (min-width: 90rem) {
    .menu-box--desktop {
        gap: 4.5rem;
    }
}

.menu-box--desktop .menu-item {
    display: inline-block;
    color: #3C3C3B;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    padding: 13px 24px;
    border-radius: 100px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.menu-box--desktop .menu-item:hover {
    background-color: transparent;
    color: var(--color-purple-accents);
}

.menu-box--desktop .menu-item:has(  .menu-item__link.active),
.menu-box--desktop .menu-item:has(  .menu-item__child__link.active) {
    background-color: #7874F4;
    color: #fff;
}

@media (min-width: 1040px) and (max-width: 1240px) {
    .menu-box--desktop .menu-item {
        padding: 9px 14px;
    }
}

@media (min-width: 65rem) {
    .menu-box--desktop .menu-item {
        font-size: 1.0625rem;
        font-weight: 500;
    }

}

.menu-box--desktop .menu-item {
    position: relative;
}

.menu-box--desktop .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    background-color: var(--color-purple-light-a);
    border-radius: 0 0 16px 16px;
    z-index: 10;
    min-width: 193px;
}


.menu-box--desktop .dropdown .menu-item__child {
    padding: 16px;
}

.menu-box--desktop .dropdown .menu-item__child:hover {
    background-color: var(--color-purple-light-b);
}

.menu-box--desktop .dropdown .menu-item__child:last-child {
    border-radius: 0 0 16px 16px;
}

.menu-box--desktop .dropdown .menu-item__child__link {
    color: var(--color-purple-accents);
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
}

.menu-box--desktop .menu-item:hover .dropdown {
    display: flex;
}

@media (max-width: 65rem) {
    .menu-box--desktop .dropdown {
        position: static;
        display: none;
    }
}
