.button-main {
   padding: 0.5rem 1.25rem;
   border: 0.0313rem solid var(--gs-purple);
   border-radius: 2rem;
   cursor: pointer;
   color: var(--gs-purple);
   font-size: 0.875rem;
}
.hero-btn,
.home-services-btn,
.form-btn-send,
.why-gigson-btn {
   margin: 1.3rem auto;
}
.home-services-btn,
.why-gigson-btn {
   margin: 2rem 0 0;
}
.form-btn-budget {
   font-size: 1.25rem;
   padding: 0.4rem 0.9rem;
   color: var(--gs-ink);
   border: 0.0625rem solid #000;
   border-radius: 2rem;
   cursor: pointer;
}
.form-btn-budget:hover {
   transition: 0.2s linear;
   background-color: var(--gs-lavender);
   color: var(--gs-purple);
}
.form-btn-send {
   margin: 1rem 0 1rem;
}

@media (min-width: 36.25rem) {
   .button-main {
      font-size: 1.25rem;
   }

   .button-main:hover {
      transition: 0.2s linear;
      background-color: var(--gs-lavender);
      color: var(--gs-purple);
   }
}

@media (min-width: 56.25rem) {
   .button-main {
      padding: 0.75rem 1.5625rem;
   }

   .form-btn-send {
      margin: 0.5rem 0 1rem;
   }
}

@media (min-width: 100rem) {
   .home-services-btn {
      max-width: 20rem;
   }

}
