.button-main {
   padding: 0.5rem 1.25rem;
   border: 0.0313rem solid #7874f4;
   border-radius: 2rem;
   cursor: pointer;
   color: #7874f4;
   font-size: 0.875rem;
}
.hero-btn,
.home-services-btn,
.form-btn-send,
.why-gigson-btn {
   margin: 1.3rem auto;
}
.home-services-btn,
.why-gigson-btn {
   margin: 2rem 0 0;
}
.form-btn-budget {
   font-size: 1.25rem;
   padding: 0.4rem 0.9rem;
   color: #3c3c3b;
   border: 0.0625rem solid #000;
   border-radius: 2rem;
   cursor: pointer;
}
.form-btn-budget:hover {
   transition: 0.2s linear;
   background-color: #e3e1ee;
   color: #7874f4;
}
.filters-btn {
   font-size: 0.9rem;
   padding: 0.3rem 0.8rem;
   color: #3c3c3b;
   border: 0.0625rem solid #3c3c3bbd;
}
.filter-btn-active {
   transition: 0.2s linear;
   background-color: #e3e1ee;
   color: #7874f4;
}
.form-btn-send {
   margin: 1rem 0 1rem;
}

@media (min-width: 36.25rem) {
   .button-main {
      font-size: 1.25rem;
   }

   .button-main:hover {
      transition: 0.2s linear;
      background-color: #e3e1ee;
      color: #7874f4;
   }
}

@media (min-width: 56.25rem) {
   .button-main {
      padding: 0.75rem 1.5625rem;
   }

   .form-btn-send {
      margin: 0.5rem 0 1rem;
   }
   .filters-btn {
      padding: 0.45rem 1.5rem;
   }
}

@media (min-width: 100rem) {
   .home-services-btn {
      max-width: 20rem;
   }

   .filters-btn {
      font-size: 1em;
      padding: 0.4rem 1.2rem;
   }
}
