.footer {
   background: linear-gradient(to right, #7874f441, #f4f3ef);
   padding-block: 1.8rem;
   margin: 3rem 0 0;
}
.footer-nav-links {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1.5rem;
   color: #3c3c3b;
}
.footer-mid {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 3rem 0.5rem 1rem 0;
   border-bottom: 1px solid #3c3c3bcc;
   padding-bottom: 1.44rem;
}
.language-selector-container {
}
.footer-nav-container {
   display: flex;
   align-items: start;
   justify-content: space-between;
   margin-bottom: 7.4rem;
   padding-inline: 0;
}
.footer-icon {
   width: 2.125rem;
   color: #3c3c3b;
}
.logo-footer {
   width: 7.375rem;
}
.footer-policy {
   margin: 1.3rem 0.5rem 0 0;
}
.footer-policy-links {
   padding-top: 0.5rem;
   display: flex;
   gap: 1.5rem;
}
.language-link {
   font-weight: 100;
   color: #3c3c3b;
}
.spam-lng {
   color: #3c3c3b7c;
}

@media (min-width: 34.375rem) {
   .footer-nav-links {
      grid-template-columns: repeat(3, 1fr);
   }
   .logo-footer {
      width: 8.875rem;
   }
}

@media (min-width: 56.25rem) {
   .footer {
      padding-top: 3rem;
      padding-bottom: 3rem;
   }

   .footer-nav-links {
      position: relative;

      display: flex;
      gap: 3.5rem;
      color: #3c3c3b;
      font-size: 20px;
      font-style: normal;
   }
   .language-link {
      position: absolute;
      top: 0.7rem;
      right: 0;
   }
   .footer-mid {
      padding-bottom: 1rem;
   }
   .logo-footer {
      width: 17.875rem;
   }
   .footer-policy {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0 0;
      font-size: 1.2em;
   }
   .footer-policy-links {
      padding-top: 0.5rem;
      display: flex;
      gap: 2.5rem;
      padding-top: 0;
   }
   .footer {
      overflow-x: hidden;
   }
}
@media (min-width: 75rem) {
   .footer {
      padding-top: 4.7rem;
      padding-bottom: 3.6rem;
   }
   .footer-mid {
      padding-bottom: 3.5rem;
   }
}

@media (min-width: 83rem) {
   .footer-nav-links {
      gap: 5.6rem;
   }

   .footer-nav-container {
      margin-bottom: 11.25rem;
   }
}

@media (min-width: 90rem) {
   .footer-icon {
      width: 3.55rem;
   }
   .footer-policy-links {
      gap: 5rem;
   }
}
