@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");


@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);


@theme {
   --spacing-contained: 1120px;

   /* colors */
   --color-dark-primary: #3C3C3B;
   --color-purple-accents: #7874F4;

   /* typography */
   --text-title1: 90px;
   --text-title1--line-height: 100%;
   --text-title1--letter-spacing: 0;
   --text-title1--font-weight: 400;

   --text-title2: 35px;
   --text-title2--line-height: 35px;
   --text-title2--letter-spacing: 0;
   --text-title2--font-weight: 400;

   --text-body1: 20px;
   --text-body1--line-height: 28px;
   --text-body1--letter-spacing: 0;
   --text-body1--font-weight: 700;

   --text-body2: 16px;
   --text-body2--line-height: 20px;
   --text-body2--letter-spacing: 0;
   --text-body2--font-weight: 400;
}


* {
   font-family: "DM Sans", sans-serif;
}

li {
   list-style: none;
}
html {
   scroll-behavior: smooth;
}

form,
input,
textarea,
select,
button,
label {
   font-family: inherit;
   font-size: inherit;
   hyphens: auto;
   background-color: transparent;
   display: block;
   color: inherit;
}


:root {
   --global-padding: 1.4rem;
   --max-width-xl: 88.875rem;
}

.mt-fixed-navbar {
   margin-top: 91px;
}

main > * {
   margin-inline: auto;
}

@media (min-width: 550px) {
   :root {
      --global-padding: 2.4rem;
   }
}

@media (min-width: 800px) {
   :root {
      --global-padding: 3rem;
   }
}

@media (min-width: 1200px) {
   :root {
      --global-padding: 4.4rem;
   }
}

.wrapper {
   padding-inline: var(--global-padding);
   /* overflow-x: hidden; */
}

.wrapper > * {
   max-width: var(--max-width-xl);
   margin-inline: auto;
}

body {
   min-height: 100vh;
   font-size: 100%;
   background-color: #f4f3ef;
}
.content-in-progress {
   width: 100%;
   text-align: center;
   font-size: 3em;
   margin: 50vh auto;
}

@media (min-width: 121rem) {
   .home-content {
      max-width: 115rem;
      margin: 0 auto;
   }
   .hero-text {
      padding-left: 0;
   }
}
