@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
   --media-desktop-up: 1024px;
   --global-padding: 1.4rem;
   --max-width-xl: 88.875rem;
}

@theme {
   --spacing-8xl: var(--max-width-xl);
   --spacing-landing: var(--global-padding);
   --spacing-contained: 1120px;
   /* colors */
   --color-dark-primary: #3C3C3B;
   --color-dark-medium: #868685;
   --color-purple-accents: #7874F4;
   /* typography */
   --text-h1: 80px;
   --text-h1--font-weight: 400;
   --text-h2: 56px;
   --text-h2--font-weight: 400;
   --text-h3: 44px;
   --text-h3--line-height: 46px;
   --text-h3--font-weight: 400;
   --text-h4: 30px;
   --text-h4--font-weight: 400;
   --text-h5: 24px;
   --text-h5--font-weight: 400;
   --text-subtitle: 20px;
   --text-subtitle--line-height: 26px;
   --text-subtitle--font-weight: 400;
   --text-body: 16px;
   --text-body--line-height: 28px;
   --text-body--font-weight: 400;
   --text-bigTag: 20px;
   --text-bigTag--line-height: 28px;
   --text-bigTag--font-weight: 400;
   --text-smallTag: 14px;
   --text-smallTag--line-height: 28px;
   --text-smallTag--font-weight: 400;
   --text-button: 18px;
   --text-button--line-height: 22px;
   --text-button--font-weight: 400;
}

@media (min-width: var(--media-desktop-up)) {
   :root {
      --text-h1: 80px;
      --text-h2: 56px;
      --text-h3: 44px;
      --text-h3--line-height: 46px;
      --text-h4: 32px;
      --text-h5: 24px;
      --text-subtitle: 20px;
      --text-subtitle--line-height: 26px;
      --text-body: 16px;
      --text-body--line-height: 28px;
      --text-bigTag: 20px;
      --text-bigTag--line-height: 28px;
      --text-smallTag: 14px;
      --text-smallTag--line-height: 28px;
      --text-button: 18px;
      --text-button--line-height: 22px;
   }
}

* {
   font-family: "DM Sans", sans-serif;
}

li {
   list-style: none;
}

html {
   scroll-behavior: smooth;
}

form,
input,
textarea,
select,
button,
label {
   font-family: inherit;
   font-size: inherit;
   hyphens: auto;
   background-color: transparent;
   display: block;
   color: inherit;
}

.mt-fixed-navbar {
   margin-top: 91px;
}

main > * {
   margin-inline: auto;
}

@media (min-width: 550px) {
   :root {
      --global-padding: 2.4rem;
   }
}

@media (min-width: 800px) {
   :root {
      --global-padding: 3rem;
   }
}

@media (min-width: 1200px) {
   :root {
      --global-padding: 4.4rem;
   }
}

.wrapper {
   padding-inline: var(--global-padding);
   /* overflow-x: hidden; */
}

.wrapper > * {
   max-width: var(--max-width-xl);
   margin-inline: auto;
}

body {
   min-height: 100vh;
   font-size: 100%;
   background-color: #f4f3ef;
}

.content-in-progress {
   width: 100%;
   text-align: center;
   font-size: 3em;
   margin: 50vh auto;
}

@media (min-width: 121rem) {
   .home-content {
      max-width: 115rem;
      margin: 0 auto;
   }
   .hero-text {
      padding-left: 0;
   }
}
