.cookie-banner {
  position: fixed;
  bottom: 16px;
  left: 16px;
  width: auto;
  max-width: 420px;
  background-color: var(--gs-cream);
  border: 1px solid var(--gs-purple);
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0.9rem 1.25rem;
  z-index: 1000;
}

  .cookie-banner h2 {
    margin: 0.5rem 0 ;
    font-size: 1rem;
    color: var(--gs-purple);
  }

  .cookie-banner p {
    max-width: 380px;
    margin: 0 0 0.6rem;
    font-size: 0.85rem;
    color: #000000;
  }

  .cookie-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  .cookie-buttons button {

    color: #000000;
    border: none;
    border-radius: 25px;
    padding: .4rem  0;
    cursor: pointer;
    font-size: 0.85rem;
  }

  @media (max-width: 768px) {
  .cookie-banner p {
      font-size: 0.7rem;
    }
  .cookie-buttons button {
    font-size: 0.7rem;
  }
}
  .cookie-buttons button:hover {
    color: var(--gs-purple);
  }
  
  .cookie-buttons button:last-child:hover {
    color: var(--gs-purple);
  }
  